.navbar-default{
    background-color: white;
    border-radius: 0px;
    height: 70px;
    border-bottom-color:rgb(0, 0, 255);
    border-width: 1px;
}

ul li{
    padding-left: 50px;
    padding-top: 10px;
}

.dropdown:hover>.dropdown-menu{display: inline;}

.aln{overflow-block: right;}