    <div class="container-fluid bg">
        <div class="row">
        	<div class="col-md-4 col-sm-4 col-xs-4"></div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <form [formGroup]="ChangePswdForm" class="form-container" id="formBox">
                	    <div class="form-group">
                    	    <label for="curntPswd"><span class="txtColor">Current Password</span></label>
                            <input formControlName="curPWD" class="form-control" type="password"   name="curntPswd" 
                            placeholder="Current Password">
                        </div>
                        <div class="form-group">
                    	    <label for="newPswd"><span class="txtColor"> New Password </span></label>
                            <input 
                            formControlName="newPWD"
                            class="form-control" type="password" name="newPswd" 
                            placeholder="New Password">
                        </div>
					    <div class="form-group">
                    	    <label for="confirmPswd"><span class="txtColor">Confirm Password </span></label>
                            <input
                            formControlName="conf_pswd"
                            class="form-control" type="password" name="confirmPswd" 
                            placeholder="Confirm Password">
                        </div>
                        <button (click)="onSubmit()" class="btn btn-block" type="submit"><span class="txtColor">Change Password</span></button>
                    </form>
                </div>
            </div>
        </div>
